*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  background: map-get($options, background);

  font-size: 16px;
  font-weight: 400;
  font-family: map-get($options, mainFont), sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

.content {
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 2.875rem;
}

h2 {
  font-weight: 600;
  font-size: 2.25rem;
}

h3 {
  font-weight: 600;
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 1rem;
}

i {
  font-style: italic;
}

b {
  font-weight: 700;
}

a {
  color: currentColor;
  text-decoration: none;
}
